annotated-types==0.7.0
black==24.8.0
cffi==1.17.0
click==8.1.7
colorama==0.4.6
cryptography==43.0.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pc-ble-driver-py==0.17.0
platformdirs==4.3.3
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
tomli==2.0.1
typing_extensions==4.12.2
wrapt==1.16.0
